@font-face {
	font-family: "body";
	src: local("body"), url("fonts/body.ttf");
}

body {
	background: rgb(10, 10, 10);
	color: rgb(240, 240, 240);
	font-family: "body";
	font-size: 3vh;
}

div {
	display: inline;
}

h1 {
	font-size: 5vh;
}

h3 {
	font-size: 4vh;
}

h5 {
	font-size: 3vh;
}

#alert_window {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	overflow: auto;
	background: rgb(90, 90, 180);
}

#Karmas {
	font-size: 7vh;
}

.KarmaContent {
	font-size: 3vh;
}

.SadovnicBtn {
	background: rgb(0, 0, 0);
	border-radius: 100%;
	padding: 0;
	border: 2px solid #1313AA;
	width: 38vh;
	height: 38vh;
	background-position: top-left;
	background-size: 100% 100%;
}

.LevelUpBtn {
	background: rgb(90, 90, 180);
	padding: 0;
	border: 2px solid #1313AA;
	width: 15vh;
	height: 6vh;
	color: rgb(240, 240, 240);
	font-family: "body";
	font-size: 2vh;
	border-radius: 2vh;
}